<div class="container">
  <nav>
    <h2 >Dashboard</h2>
    <div class="userProfile">
      <img class="profile-pic"
        src="https://images.unsplash.com/photo-1519455953755-af066f52f1a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
        alt="Profile Pic"
      />
      <p>TeamOne</p>
      <img id="more-icon" src="assets/more_icon.svg" alt="">
    </div>
  </nav>

  <main>
    <div class="task-header">
      <h1>Today's Tasks</h1>
      <img src="assets/forward_button.svg" alt="forward_button" >
    </div>

    <div class="scrolling-wrapper">
      <app-task-card *ngFor="let task of taskArray" projectName={{task.projectName}} taskTitle={{task.taskTitle}} progress={{task.progress}}></app-task-card>
    </div>


    <div class="task-header">
      <h1>Recent Projects</h1>
      <img src="assets/forward_button.svg" alt="forward_button" >
      <div class="buttons-wrapper">
        <button [ngClass]="buttonOpen?'activated-button':'deactivated-button'" (click)="toogleFilter('open')">open</button>
        <button [ngClass]="!buttonOpen?'activated-button':'deactivated-button'" (click)="toogleFilter('close')">closed</button>
      </div>
    </div>

    <div class="scrolling-wrapper">
      <app-project-card *ngFor="let project of projectArray" projectIconUrl={{project.projectIconUrl}} projectTitle={{project.projectTitle}} tasks={{project.tasks}} projectStartDate={{project.projectStartDate}} progress={{project.progress}}></app-project-card>
    </div>

  </main>

</div>
