@import "~variables.scss";

*{
  padding: 0;
  margin: 0;
  font-family: "Nunito";
}

.justify-self-end{
  justify-self: end;
}

.red-font{
  color: $red;
}

.green-font{
  color: $green;
}

.red-bg{
  background-color: $red;
}

.green-bg{
  background-color: $green;
}
